.video-description {
  background: #f5fffd;
  border: 0.5px solid #a9a9a9;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  height: 142px;
  width: 80%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  outline: none;
  resize: none;
}

.video-title-description {
  background: #f5fffd;
  border: 0.5px solid #a9a9a9;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  /* height: 142px; */
  width: 85%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  outline: none;
  resize: none;
}

#video-upload {
  margin-top: 2rem;
}
