.add-topic_header {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
}

.add-topic_header button {
  width: 20%;
}

.add-topic_header-title {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 21px;
  line-height: 36px;
  color: #016f54;
  margin-bottom: 1rem;
}

.add-topic_header-body {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
  padding-top: 0;
}

.add-topic_header-body img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  cursor: zoom-in;
  transition: transform 0.25s ease;
}

.add-topic-image {
  display: flex;
  flex-direction: column;
}
.add-topic-image label {
  width: fit-content;
}

.add-topic-image p {
  padding-top: 1rem;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  cursor: pointer;
}

.add-topic-image input[type="checkbox"] {
  display: none;
}

.add-topic-image input[type="checkbox"]:checked ~ img {
  transform: scale(1.8);
  cursor: zoom-out;
}

#pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px dashed #016f54;
  border-radius: 5px;
  width: 80%;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  object-fit: fill;
}

.add-topic_header-body_image-cover {
  padding: 2rem;
  cursor: pointer;
}

.add-topic_header-body_image-cover p {
  padding-top: 1rem;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
}

.add-topic_header-body h5 {
  padding-top: 2rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #333333;
}

.topic-description {
  background: #f5fffd;
  border: 0.5px solid #a9a9a9;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 80%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  outline: none;
}

#videos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  border: 1px dashed #016f54;
  border-radius: 5px;
  width: 80%;
  cursor: pointer;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  margin-top: 2rem;
}

.add-topic_header-body button {
  width: 20%;
}

.quiz-questions {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
}

.quiz-description {
  background: #f5fffd;
  border: 0.5px solid #a9a9a9;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 95%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  outline: none;
}
.quiz-description p {
  margin: 0;
}

.react-select-container {
  width: 95% !important;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  text-transform: capitalize;
}

.react-select__control {
  background-color: #f5fffd !important;
  border: 0.5px solid #a9a9a9 !important;
  border-radius: 10px !important;
  padding: 0.4rem 1rem;
}

.add-question-button {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #016f54;
  min-width: fit-content;
  margin: 2rem 0;
}

.add-question-button h5 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  border-bottom: 2px solid;
  margin-bottom: 0;
  margin-left: 10px;
}

.view-courses button {
  width: 20%;
}
