.all-videos {
  display: flex;
  flex-direction: column;
}

.video-header_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.video-header_top button {
  margin-top: 0;
  width: 20%;
}

.video-header_top p {
  margin: 0;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 32px;
  color: #333333;
}

.all-videos > .video-card-items {
  padding-top: 1rem;
}
