.button {
  background-color: white;
  color: var(--button);
  border: 0.1px solid var(--button);
  margin-top: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  outline: none;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button);
  color: #b4c304;
}
