.card {
  display: flex;
  flex-direction: column;
  width: 30vw;
  height: 500px;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid var(--form);
  background-color: var(--white);
  z-index: 99;
}

.card h4 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: var(--text);
}

.card p {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
}

.card-image {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
