.change-user-password {
  display: flex;
  flex-direction: column;
  padding: 3rem 16rem;
}

.change-user-password h2 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
}

.change-user-password p {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.009em;
  color: #333333;
  opacity: 0.6;
}

.eyes3 {
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  top: 203px;
  right: 20px;
  color: #a9a9a9;
}
