.change-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
  background-color: var(--accent);
  position: relative;
}

.change-password button {
  width: 100%;
}

.eyes1 {
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  top: 23px;
  right: 20px;
  color: #a9a9a9;
}
.eyes2 {
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  top: 113px;
  right: 20px;
  color: #a9a9a9;
}
.long-modal {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  text-align: center;
  color: red;
  z-index: 10;
  top: -10px;
  left: 3%;
}
