.confirm-forget-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
  background-color: var(--accent);
  position: relative;
}

.confirm-forget-password button {
  width: 100%;
}

.countdown {
  display: flex;
  justify-content: right;
  color: red;
  font-weight: bold;
  font-family: var(--font-family);
  font-size: 14px;
  width: auto;
  margin-right: 2rem;
}

.countdown p {
  cursor: pointer;
  margin: 0;
  color: red;
  font-family: var(--font-family);
  font-size: 14px;
  border: 1px solid red;
  padding: 0.5rem;
}

.countdown p:hover {
  background-color: red;
  color: white;
}
