.courses-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  background-color: #ebf1f4;
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;
  width: 100% !important;
}

.courses-dropdown_tablist {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  display: inline-block;
  border: none !important;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 0 !important;
  padding-right: 2rem !important;
  cursor: pointer;
}

.react-tabs__tab:last-child {
  margin-left: 1.5rem;
  padding-left: 1.5rem !important;
}

.react-tabs__tab--selected {
  background: none !important;
  color: #333333 !important;
  border-bottom: 2px solid var(--button) !important;
  border-radius: 0 !important;
}

.courses-dropdown button {
  width: 20%;
}
