.feedback {
  display: flex;
  flex-direction: column;
}

.feedback-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 2rem;
  margin-right: 10rem;
}

.feedback-boxes-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 1.2rem;
}

.feedback-boxes-box h5 {
  font-family: var(--font-family);
  margin: 0;
  font-size: 16px;
  line-height: 36px;
  color: #333333;
}

.feedback-boxes-box p {
  margin: 0;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #333333;
}
