.forget-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
  background-color: var(--accent);
  position: relative;
}

.forget-password button {
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  position: relative;
}
