@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/plus-jakarta-display.min.css");
@import url("https://fonts.googleapis.com/css2?family=Rakkas&display=swap");
@import url("http://fonts.cdnfonts.com/css/mikado-demo");

body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

code {
  font-family: "Plus Jakarta Display", sans-serif;
}

:root {
  --color3: #b4c304;
  --text: #333333;
  --form: #a9a9a9;
  --button: #016f54;
  --background: #e5e5e5;
  --dashboard-bg: #fdfdf7;
  --accent: #f5fffd;
  --white: #ffffff;

  --sidebar-width: 20%;
  --sidebar-bg: url("../assets/Sidebar.svg");
  --topnav-height: 78px;
  --transition-cubic: cubic-bezier(0.175, 0.885, 0.32, 1.275);

  --font-family: "Plus Jakarta Display", sans-serif;
  --rakkas: "Rakkas", cursive;
  --mikado: "Mikado Bold DEMO", sans-serif;
}
