.landing-page {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  overflow: hidden;
}

.top-bg {
  position: absolute;
  width: 690px;
  height: 720px;
  right: 0;
  z-index: -2;
}

.logo {
  display: block;
  margin-top: 1rem;
  padding-left: 4rem;
}

.page-top {
  display: flex;
  flex-direction: column;
}

.page-top-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-right: 2rem;
  padding-left: 4rem;
}

.page-top-body_texts {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.page-top-body h1 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 64px;
  line-height: 72px;
  color: #09ac2c;
}

.page-top-body span {
  color: #f8b800;
}

.page-top-body h4 {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 30px;
  color: #1a2631;
  margin-top: 1.5rem;
}

.page-top-under {
  display: inline;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
}
.page-top-under h4 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
  color: #09ac2c;
}

.laptop-section {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
}
.laptop_bg {
  position: absolute;
  right: 0;
  z-index: -2;
}

.laptop-section_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.laptop-section_content h1 {
  font-family: var(--rakkas);
  font-size: 56px;
  line-height: 72px;
  color: #33383f;
  margin-top: 10rem;
}

.laptop-section_content button {
  margin-top: 1.5rem;
  padding: 1rem 8rem;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #07ab2c 0%, #69e905 100%);
  border-radius: 15px;
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 43px;
  color: #ffffff;
}

.laptop-section_content button:hover {
  transform: scale(1.05);
}

.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f2f8f3;
  margin-top: 2rem;
  position: relative;
  margin-bottom: 10rem;
}

.video-bg {
  position: absolute;
  z-index: -2;
  bottom: -187px;
}

.video-section h2 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
  color: #09ac2c;
  margin-top: 4rem;
}

.video-section-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  margin-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
}

.video-section-content_text {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.video-section-content_text h5 {
  display: flex;
  text-align: left;
  font-family: var(--font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 44px;
  color: #1a2631;
}

.video-section-content_text button {
  width: 80%;
  padding: 1rem;
  border: none;
  outline: none;
  background: linear-gradient(90deg, #07ab2c 0%, #69e905 100%);
  border-radius: 15px;
  margin-top: 1rem;
  font-family: var(--font-family);
  font-size: 30px;
  line-height: 43px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video-section-content_text button p {
  margin: 0;
  padding-left: 1rem;
  font-size: 24px;
}

.class-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  margin-top: 5rem;
  font-family: var(--font-family);
  position: relative;
  padding-left: 4rem;
  padding-right: 4rem;
}

.class-section_row1 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: left;
  width: 400px;
  margin-top: 8rem;
}

.class-section_row1 h1 {
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
  color: #33383f;
}

.class-section_row1 p {
  font-size: 24px;
  line-height: 43px;
  color: #1a2631;
  margin-top: 1rem;
}

.class-section_row2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  row-gap: 0.5rem;
  align-items: left;
  justify-content: left;
  text-align: left;
}

.class-section-row2_grid {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
}
.class-section-row2_grid span {
  height: 80px;
  width: 80px;
  border-radius: 10px;
}

.class-section-row2_grid img {
  width: 100px;
  height: 100px;
}

.class-section-row2_grid h5 {
  font-size: 24px;
  line-height: 43px;
  color: #1a2631;
  margin-top: 0.5rem;
}

.class-section-row2_grid p {
  font-size: 16px;
  line-height: 29px;
  color: #1a2631;
}

.analysis-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  font-family: var(--font-family);
  position: relative;
  padding-left: 4rem;
}
.analysis-section_content-row1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  align-items: left;
}

.analysis-section_content-row1 h5 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
  color: #09ac2c;
  width: 90%;
}

.analysis-section_content-row1 p {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 43px;
  color: #1a2631;
  margin: 0;
}

.analysis-section_content-row1 {
  display: flex;
  position: relative;
  margin-top: 11rem;
}

.analytics {
  position: relative;
  z-index: 2;
}

.analytics_bg1 {
  position: absolute;
  right: 0;
  bottom: 60px;
}

.analytics_bg2 {
  position: absolute;
  right: 34rem;
  top: 70px;
}

.download-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  font-family: var(--font-family);
  position: relative;
  padding-left: 4rem;
  margin-top: 6rem;
}

.download-section_row1 {
  display: flex;
  flex-direction: column;
}

.download-section_row1 h5 {
  font-weight: bold;
  font-size: 52px;
  line-height: 60px;
  color: #33383f;
  width: 90%;
}

.download-image {
  display: flex;
  position: relative;
}

.pressing {
  position: relative;
  z-index: 2;
}

.pressing_bg {
  position: absolute;
  right: 30%;
  top: 5%;
}
.download-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.download-icons img {
  cursor: pointer;
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
  padding: 2rem 4rem;
  background: #e0f0e4;
}

footer img {
  width: 102px;
  height: 62.92px;
  margin-bottom: 1rem;
}

.social-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 105px;
}

.social-images img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

footer p {
  margin-bottom: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  color: #1a2631;
}

@media screen and (max-width: 2560px) {
}

@media screen and (max-width: 1024px) {
  .logo {
    padding-left: 4rem;
  }

  .page-top-body {
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 4rem;
    padding-left: 4rem;
    gap: 2rem;
    width: 100vw;
    align-items: center;
    text-align: center;
  }
  .page-top-body h1 {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 54px;
    line-height: 72px;
    color: #09ac2c;
    width: 100vw;
    padding-right: 8rem;
  }
  .page-top-body h4 {
    width: 100vw;
    padding-right: 8rem;
  }
  .page-top-body_texts {
    margin-top: 1rem;
  }

  .laptop-section_content {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 20rem;
    overflow: hidden;
  }
  .laptop_bg {
    display: none;
  }
  .laptop-image {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -2;
    width: 100vw;
  }

  .video-section {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .video-section-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .video-section-content_text {
    flex-direction: column-reverse;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
  }
  .video-section-content_text button {
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 0;
    width: 40%;
    padding: 1rem;
  }
  .class-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .class-section_row1 {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }
  .class-section_row1 h1 {
    font-size: 48px;
    line-height: 62px;
  }
  .analysis-section {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding-left: 2rem;
  }
  .analytics {
    width: 100%;
  }
  .analytics_bg1 {
    bottom: 25%;
  }
  .analytics_bg2 {
    position: absolute;
    left: 0;
    top: 100px;
  }
  .analysis-section_content-row1 {
    margin-top: 1rem;
    padding-right: 2rem;
  }
  .analysis-section_content-row1 h5 {
    width: 100%;
    line-height: 62px;
  }
  .download-section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 3rem;
  }
  .pressing_bg {
    right: 0;
    top: 10%;
  }
  .download-section_row1 h5 {
    line-height: 62px;
    width: 100%;
  }
  .download-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
  }
  footer {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .page-top-body {
    padding: 0 2rem;
  }
  .laptop-section {
    padding-left: 2rem;
  }

  .laptop-image {
    position: absolute;
  }
  .page-top-under {
    margin-top: 1rem;
  }
  .laptop-section_content h1 {
    margin-top: 1rem;
  }

  .page-top-under h4 {
    font-size: 48px;
    line-height: 60px;
  }
  .analytics_bg1 {
    bottom: 30%;
  }
  .analytics_bg2 {
    position: absolute;
    left: -10px;
    top: 70px;
  }
}

@media screen and (max-width: 560px) {
  .laptop-section_content h1 {
    margin-top: 2rem;
  }
  .laptop-section_content button {
    margin-top: 5rem;
  }
}

@media screen and (max-width: 425px) {
  .logo {
    padding-left: 0;
  }
  .page-top-body {
    padding-right: 10px;
    padding-left: 10px;
  }
  .page-top-body h1 {
    font-size: 30px;
    line-height: 40px;
    width: fit-content;
    padding-right: 1rem;
  }
  .page-top-under h4 {
    font-size: 30px;
  }
  .laptop-section_content h1 {
    margin-top: 1rem;
  }
  .page-top-body h4 {
    font-size: 20px;
    line-height: 30px;
    padding-right: 1rem;
  }
  .page-top-body img {
    width: 100vw;
  }
  .laptop-section {
    padding: 0 10px;
  }
  .laptop-section_content h1 {
    text-align: left;
    font-size: 42px;
    line-height: 45px;
  }
  .laptop-section_content button {
    margin-top: 4rem;
    padding: 1rem 2rem;
    align-items: center;
  }
  .video-section h2 {
    font-size: 42px;
    line-height: 55px;
    margin-top: 2rem;
  }
  .video-section-content img {
    width: 100vw;
  }
  .video-section-content_text button,
  .video-section-content_text h5 {
    width: 90%;
  }
  .video-section-content_text h5 {
    width: 90%;
    font-size: 20px;
    line-height: 30px;
  }
  .class-section {
    padding: 0 10px;
  }
  .class-section-row2_grid h5 {
    font-size: 20px;
    line-height: 32px;
  }
  .class-section-row2_grid p {
    font-size: 14px;
    line-height: 24px;
  }
  .class-section_row1 h1 {
    font-size: 30px;
    line-height: 40px;
  }
  .class-section_row1 p {
    font-size: 16px;
    line-height: 24px;
  }
  .analysis-section {
    padding-left: 10px;
  }
  .analytics {
    width: 100vw;
  }
  .analytics_bg2 {
    left: -20%;
    top: 20px;
  }
  .analytics_bg1 {
    bottom: 40%;
  }
  .analysis-section_content-row1 {
    margin-top: 0;
    padding: 0 10px;
  }
  .analysis-section_content-row1 h5 {
    width: 90vw;
    font-size: 30px;
    line-height: 40px;
  }
  .analysis-section_content-row1 p {
    font-size: 20px;
    line-height: 24px;
  }
  .download-image {
    padding: 0 10px;
  }
  .pressing {
    width: 100vw;
  }
  .pressing_bg {
    width: 100vw;
  }
  .download-section {
    padding: 0 10px;
    align-items: center;
  }
  .download-section_row1 {
    width: 100vw;
    padding: 0 10px;
  }
  .download-section_row1 h5 {
    font-size: 30px;
    line-height: 42px;
    width: 90vw;
  }

  .download-icons img {
    width: 40%;
  }
  footer {
    padding: 2rem 10px;
  }
}

@media screen and (max-width: 400px) {
  .laptop-section_content button {
    margin-top: 7rem;
    padding: 1rem 2rem;
    align-items: center;
  }
  .class-section_row1 h1 {
    font-size: 36px;
    line-height: 40px;
  }
  .analysis-section_content-row1 h5 {
    font-size: 32px;
    line-height: 40px;
  }
  .download-section_row1 h5 {
    font-size: 32px;
    line-height: 40px;
  }
  .download-icons {
    gap: 1.5rem;
  }
  .download-icons img {
    width: 150px;
  }
}

@media screen and (max-width: 360px) {
  .laptop-section_content h1 {
    margin-top: 2rem;
  }
  .laptop-section_content button {
    margin-top: 5rem;
  }
}
