.layout {
  color: var(--text);
  height: 100%;
}

.layout_content {
  padding-left: var(--sidebar-width);
  background-color: var(--dashboard-bg);
  min-height: 100vh;
  padding-top: 1rem;
  padding-bottom: 5px;
}

.layout_content-main {
  margin: 1rem;
  margin-left: 3rem;
  padding: 0 20px;
  padding-bottom: 0;
  padding-top: 0;
}

@media screen and (max-width: 768px) {
  .layout_content {
    padding-left: 0;
  }
}
