.login-success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
  background-color: var(--accent);
  position: relative;
}

.login-success button {
  width: 100%;
}

.login-success h4,
.login-success p {
  text-align: center;
}
