.login {
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  height: 100vh;
  background-color: var(--accent);
  position: relative;
}

.login button {
  width: 100%;
}

.background1,
.background2,
.line {
  display: flex;
  position: absolute;
  bottom: 140px;
}
.background1 {
  left: 20px;
}
.background2 {
  right: 40px;
}

.line {
  bottom: 140px;
}
.line span {
  height: 1px;
  width: 95vw;
  background-color: var(--button);
}
.login-form form {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
}
.form-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 1rem 0;
}

.form-group input {
  font-size: 16px;
  font-family: var(--font-family);
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--form);
  outline: none;
}

.eyes {
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  top: 7px;
  right: 20px;
  color: #a9a9a9;
}
.forget-password-link {
  align-items: flex-end;
  text-align: end;
  padding-right: 10px;
  width: fit-content;
  margin-left: auto;
}
.forget-password-link a {
  text-decoration: none;
}
.forget-password-link a p {
  font-size: 16px;
  line-height: 32px;
  color: var(--text);
  margin: 0;
}

.login-modal {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  text-align: center;
  color: red;
  z-index: 10;
  top: -25px;
  left: 5%;
}

.loader:hover {
  color: var(--white);
}
