.player-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.player-info button {
  background: linear-gradient(90deg, #07ab2c 0%, #69e905 100%);
  border: none;
  outline: none;
  color: #ffffff;
}

.player-info button:hover {
  color: #141410;
}

.player-info_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 3rem;
  margin-left: 5rem;
  justify-content: center;
  align-items: center;
}

.background_top {
  position: absolute;
  top: -40vh;
  z-index: -2;
  width: 100vw;
}

.background_bt {
  position: absolute;
  bottom: 0;
  left: 0;
}

.player-info-form form {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
}

.form-group2 {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  position: relative;
}

.form-group2 input {
  font-family: var(--font-family);
  color: #979797;
  padding: 1rem;
  outline: none;
  background: rgba(0, 107, 23, 0.05);
  border: 1px solid #09ac2c;
  border-radius: 8px;
  font-size: 16px;
  line-height: 24px;
}

.react-select-container2 {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 24px;
  color: #979797;
  text-transform: capitalize;
}

.react-select2__control {
  background: rgba(0, 107, 23, 0.05) !important;
  border: 1px solid #09ac2c !important;
  border-radius: 8px !important;
  padding: 0.6rem;
}

@media screen and (max-width: 2560px) {
}

@media screen and (max-width: 1024px) {
  .player-info_content {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 768px) {
  .player-info_content {
    display: flex;
  }
  .sign-up_image {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .player-info_content {
    margin: 0;
  }
}
