.play-quiz {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  background: #f2f8f3;
  height: 100vh;
  overflow: hidden;
}

.play-quiz-card {
  display: flex;
  flex-direction: column;
  height: 65vh;
  width: 85vw;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 16px;
}

.play-quiz-card_head {
  display: flex;
  flex-direction: row;
  padding: 1rem 5rem;
  background: #09ac2c;
  border-radius: 16px 16px 0px 0px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.play-quiz-card_head h5 {
  font-family: var(--font-family);
  font-size: 21px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 0;
}

.play-quiz-card_head button {
  border: none;
  outline: none;
  padding: 0.8rem 2rem;
  background: #ef0000;
  border-radius: 16px;
  font-family: var(--font-family);
  font-size: 21px;
  line-height: 27px;
  color: #ffffff;
}

.play-quiz-card_head span {
  padding: 0.8rem 3rem;
  background: #006b17;
  border-radius: 16px;
  font-family: var(--font-family);
  font-size: 21px;
  line-height: 27px;
  color: #ffffff;
}

.play-quiz-card-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}

.play-quiz-card-body button {
  background: rgba(9, 172, 44, 0.08);
  font-family: var(--font-family);
  font-size: 21px;
  line-height: 27px;
  color: #09ac2c;
  padding: 0.3rem 2.5rem;
  border: none;
  outline: none;
}

.play-quiz-card-body h2 {
  margin-top: 1rem;
  margin-bottom: 0;
  width: 650px;
  font-family: var(--rakkas);
  font-size: 48px;
  line-height: 124%;
  text-align: center;
  color: #006b17;
}

.play-quiz-card-body h3 {
  margin-top: 1rem;
  margin-bottom: 0;
  width: 600px;
  font-family: var(--rakkas);
  font-size: 42px;
  line-height: 124%;
  text-align: center;
  color: #006b17;
}

.play-quiz-card-body h4 {
  margin-bottom: 0;
  width: 600px;
  font-family: var(--font-family);
  font-size: 42px;
  line-height: 124%;
  text-align: center;
  color: #006b17;
}

.quiz-answers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 2rem;
  padding: 0 4rem;
  align-items: center;
  justify-content: center;
}

.quiz-options {
  display: block;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.quiz-options label {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  background: #f9f9f9;
  border: 1.5px solid #676869;
  border-radius: 15px;
  padding: 1rem 1.5rem;
}

.quiz-options label p {
  margin-bottom: 0;
  background: #e6e6e6;
  border-radius: 8px;
  padding: 0.2rem 0.5rem;
  margin-right: 1.5rem;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 24px;
  color: #878787;
}

.quiz-options label h5 {
  margin-bottom: 0;
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
  color: #747474;
  text-transform: capitalize;
}

.quiz-options .radio {
  appearance: none;
  position: absolute;
  top: -8px;
  right: -5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.quiz-options .radio-wrong {
  appearance: none;
  position: absolute;
  top: -8px;
  right: -5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.quiz-options .radio:checked {
  background-color: #006b17;
  border-radius: 50%;
  background-image: url("../assets/tick.svg");
  background-repeat: no-repeat;
  background-position: 5px 5px;
}

.quiz-options .radio:checked ~ label {
  background: #e0f0e4;
  border: 1.5px solid #09ac2c;
}

.quiz-options .radio-wrong:checked ~ label {
  background: #fde6e6;
  border: 1.5px solid #ef0000;
}

.quiz-bottom {
  display: flex;
  margin-top: 2rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 75vw;
}

.quiz-bottom h5 {
  font-family: var(--font-family);
  font-size: 24px;
  line-height: 31px;
  margin-bottom: 0;
}
.quiz-bottom span {
  border: none;
  outline: none;
  border-radius: 8px;
  border: 2px solid #09ac2c;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  color: #09ac2c;
  padding: 0.8rem 2rem;
  display: flex;
  /* cursor: pointer; */
}

.quiz-bottom button {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #07ab2c 0%, #69e905 100%);
  border-radius: 8px;
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  padding: 0.8rem 2rem;
  display: flex;
}

.quiz-bottom button p {
  color: #ffffff;
  margin: 0;
  font-size: 18px;
  font-family: var(--font-family);
  padding-left: 1rem;
}

.downloads {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
}

.downloads img {
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .play-quiz-card {
    height: 71vh;
    width: 90vw;
  }
  .quiz-bottom {
    margin-top: 0.5rem;
    width: 90vw;
  }
  .quiz-bottom span,
  .quiz-bottom button {
    font-size: 16px;
  }
  .quiz-bottom h5 {
    font-size: 20px;
  }
  .quiz-answers {
    gap: 1rem;
    margin-top: 1rem;
    padding: 0 2rem;
  }
  .quiz-options label {
    padding: 1rem 0.5rem;
  }
  .quiz-options label p {
    margin-right: 0.5rem;
  }
  .quiz-options label h5 {
    font-size: 20px;
  }
  .downloads {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 768px) {
  .play-quiz-card {
    height: 71vh;
    width: 100vw;
  }
  .quiz-bottom {
    margin-top: 0.5rem;
    width: 100vw;
  }
  .quiz-bottom span,
  .quiz-bottom button {
    font-size: 14px;
  }
  .quiz-bottom h5 {
    font-size: 18px;
  }
}

@media screen and (max-width: 425px) {
  .play-quiz {
    padding-top: 2rem;
  }
  .play-quiz-card {
    height: 80vh;
    width: 100vw;
  }
  .quiz-bottom {
    margin-top: 0.5rem;
    width: 100vw;
  }
  .quiz-bottom span,
  .quiz-bottom button {
    font-size: 12px;
    padding: 0.5rem;
    line-height: 16px;
  }
  .quiz-bottom h5 {
    font-size: 14px;
    line-height: 24px;
  }
  .quiz-bottom img {
    width: 50px;
    height: 50px;
  }

  .play-quiz-card_head {
    padding: 1rem;
  }
  .play-quiz-card_head h5 {
    font-size: 16px;
    line-height: 20px;
  }
  .play-quiz-card_head span {
    padding: 0.8rem 1rem;
    font-size: 16px;
    line-height: 20px;
  }
  .play-quiz-card_head button {
    padding: 0.8rem 1rem;
    font-size: 16px;
    line-height: 20px;
  }
  .quiz-answers {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .play-quiz-card-body h2 {
    width: 80vw;
    font-size: 32px;
    line-height: 124%;
  }
  .quiz-options label h5 {
    font-size: 16px;
  }
  .play-quiz-card-body h4 {
    width: 80vw;
    font-size: 30px;
    line-height: 124%;
  }
  .play-quiz-card-body h3 {
    width: 80vw;
    font-size: 32px;
    line-height: 124%;
  }
  .downloads {
    padding: 0 1rem;
    gap: 1rem;
    margin-top: 3rem;
  }
  .downloads img {
    width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .play-quiz {
    padding-top: 1rem;
  }
  .play-quiz-card_head {
    padding: 1rem 0.5rem;
  }
  .play-quiz-card-body h2 {
    width: 90vw;
    font-size: 26px;
    line-height: 124%;
  }
  .quiz-bottom {
    width: 95vw;
  }
  .quiz-bottom h5 {
    font-size: 14px;
    line-height: 20px;
  }
}
