.questions-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-backdrop.show {
  opacity: 0 !important;
  z-index: 100 !important;
}

.modal-content {
  border-radius: 20px !important;
}
.modal-header {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #333333;
}

.questions-modal-tabs {
  display: flex;
  flex-direction: column;
  -webkit-tap-highlight-color: transparent;
  width: 100% !important;
}

.questions-modal-tablist {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  align-items: flex-start !important;
  color: #333333;
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.questions-modal-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}

.questions-modal-upload svg {
  color: #a9a9a9;
  font-size: 8rem;
}

#modal-button {
  background-color: white;
  color: var(--button);
  border: 0.1px solid var(--button);
  margin-top: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 10px;
  outline: none;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 700;
  line-height: 32px;
  cursor: pointer;
}

#modal-button:hover {
  background-color: var(--button);
  color: #b4c304;
}

.questions-modal-upload p {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
}

#modal-pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  line-height: 32px;
  color: #a9a9a9;
}

.demo-image-preview {
  position: relative;
  text-align: center;
}

.demo-image-preview > img {
  width: auto;
  height: auto;
}

@media (max-width: 768px) {
  .demo-image-preview > img {
    width: 100%;
  }
}

/* fullscreen enable by props */
.demo-image-preview-fullscreen > img {
  width: 100vw;
  height: 100vh;
}

.start-camera {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-camera span {
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 32px;
  font-weight: bold;
  color: #a9a9a9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--button);
  border-radius: 20px;
  padding: 0.5rem;
  margin: 1rem 0;
  width: 20%;
  cursor: pointer;
}

.start-camera span:hover {
  background-color: var(--button);
  color: white;
}
