.questions {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.questions-header {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
}

.questions-header div {
  display: flex;
  align-items: center;
}

.questions-header div input {
  font-family: var(--font-family);
  margin-left: 0.5rem;
  padding: 0.2rem;
  padding-left: 0.5rem;
  width: 50px;
  font-size: 14px;
  color: #333;
  border: 1px solid grey;
  border-radius: 5px;
  outline: none;
}

.questions-header h5 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #016f54;
  margin-bottom: 0;
}

.questions h2 {
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 32px;
  color: #a9a9a9;
}

.questions-line {
  display: flex;
  position: absolute;
  top: 30px;
  width: 100%;
  margin-top: 0.5rem;
}

.questions-line span {
  height: 1px;
  width: 100%;
  background-color: #e8e9eb;
}

.questions label {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.questions-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.questions-body button {
  margin-top: 0;
  margin-bottom: 1rem;
  width: 20%;
}

.questions-body-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.react-select-questions-container {
  width: 30% !important;
  margin-bottom: 1rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
}

.questions-body-image {
  color: #a9a9a9;
  font-size: 35px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.questions-description {
  display: flex;
  flex-direction: column;
  background: #f5fffd;
  border: 0.5px solid #a9a9a9;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  width: 60%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  outline: none;
}

.questions-body-options {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  position: relative;
}

.questions-body-options p {
  cursor: pointer;
  width: fit-content;
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 32px;
  text-decoration-line: underline;
  color: #a9a9a9;
}

.questions-body-option {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.questions-body-option div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  margin-left: 1rem;
}

.questions-body-option div .questions-options {
  display: flex;
  flex-direction: column;
  background: #f5fffd;
  border: 0.5px solid #a9a9a9;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  margin-left: 2rem;
  width: 70%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  outline: none;
}

.questions-body-option div input[type="radio"] {
  cursor: pointer;
  height: 2rem;
  width: 1.7rem;
}

.questions-body-option div input[type="checkbox"] {
  cursor: pointer;
  height: 2rem;
  width: 1.7rem;
  margin-left: 1rem;
  border-radius: 5px;
}

.questions-body-option div h5 {
  display: flex;
  flex-direction: row;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 32px;
  color: #333333;
  margin: 0;
  margin-left: 1rem;
}

.questions-bottom {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: right;
  position: relative;
  margin-top: 3rem;
}

.questions-delete-btn {
  font-size: 1.5rem;
  margin-right: 2.5rem;
  cursor: pointer;
}

.questions-line-bottom {
  display: flex;
  position: absolute;
  bottom: 30px;
  width: 100%;
  margin-top: 0.5rem;
}

.questions-line-bottom span {
  height: 1px;
  width: 100%;
  background-color: #e8e9eb;
  margin-bottom: 1rem;
}

.questions-body-optionB {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.questions-body-optionB div {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.questions-body-optionB div .questions-options {
  display: flex;
  flex-direction: column;
  background: #f5fffd;
  border: 0.5px solid #a9a9a9;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 70%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  outline: none;
}

.optional-image {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  width: 250px;
  height: 250px;
}

.optional-image p {
  font-family: var(--font-family);
  text-decoration: underline;
  font-weight: bold;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  cursor: pointer;
}

.optional-image label {
  margin: 0;
}

.optional-image img {
  width: 250px;
  height: 250px;
  border-radius: 20px;
  object-fit: cover;
  cursor: zoom-in;
  transition: transform 0.25s ease;
}

.optional-image input[type="checkbox"] {
  display: none;
}

.optional-image input[type="checkbox"]:checked ~ img {
  transform: scale(1.8);
  cursor: zoom-out;
}

.explanation {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.explanation p {
  margin: 0;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: bold;
  line-height: 32px;
}

.explanation-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 3rem;
}

.explanation-body div {
  cursor: pointer;
}
