.quiz {
  display: flex;
  flex-direction: column;
}

.quiz_header {
  display: flex;
  padding: 0;
  margin-bottom: 3rem;
}

.quiz_header h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  color: #016f54;
}

.dropdown_tablist {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  border-bottom: 1px solid #aaa;
  margin: 0 0 10px;
  padding: 0;
}

.dropdown_tablist .react-tabs__tab {
  display: inline-block;
  border: none !important;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 0 !important;
  padding-right: 2rem !important;
  cursor: pointer;
}

.dropdown_tablist .react-tabs__tab:last-child {
  margin-left: 0 !important;
  padding-left: 0.5rem !important;
}

.dropdown_tablist .react-tabs__tab--selected {
  background: none !important;
  color: #333333 !important;
  border-bottom: 2px solid var(--button) !important;
  border-radius: 0 !important;
  margin-left: 0 !important;
}
