.quiz-card {
  display: flex;
  flex-direction: column;
}

.quiz-card button {
  margin-bottom: 2rem;
  width: 20%;
}

.quiz-card-section {
  display: flex;
  flex-direction: column;
}

.quiz-card-section_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 0.5rem;
  margin: 1rem 0;
}

.quiz-card-section_header h5 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0;
  padding: 0;
}

.quiz-card-section_header p {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #333333;
  opacity: 0.8;
  margin: 0;
  padding: 0;
}
