.schedule {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}
.schedule_header {
  display: flex;
  padding: 0;
}

.schedule_header h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  color: #016f54;
}
