.settings {
  display: flex;
  flex-direction: column;
}

.settings-modal {
  font-family: var(--font-family);
  font-size: 15px;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  top: 2vh;
  left: 45%;
  position: fixed;
  text-align: center;
  color: var(--accent);
  background-color: var(--button);
  padding: 0.2rem 1rem;
  z-index: 2;
}

.settings-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  margin-top: 1rem;
}

.settings-image {
  width: 105px;
  height: 105px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.settings-image > img {
  width: 100%;
}

.settings-header-text {
  display: flex;
  flex-direction: column;
}

.settings-header-text h5 {
  margin: 0;
  /* padding-bottom: 2rem; */
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
}

.settings-header-text p {
  margin: 0;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  text-transform: capitalize;
}

.settings-edit {
  margin: 0;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  margin-top: 3rem;
}

.settings-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
}

.settings-content h5 {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  margin-left: 2rem;
}

.settings-content-items {
  margin: 1rem 0;
  position: relative;
}

.settings button {
  width: 30%;
  margin-bottom: 3rem;
}

.settings-eyes {
  position: absolute;
  cursor: pointer;
  font-size: 25px;
  top: 42.5px;
  right: 60px;
  color: #a9a9a9;
}

.settings-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f5fffd;
  border: 0.5px solid #a9a9a9;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  width: 95%;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 32px;
  color: #a9a9a9;
  outline: none;
}
.settings-description p {
  margin: 0;
}

.upload-description {
  display: flex;
  align-items: center;
  background: #f5fffd;
  border: 0.5px solid #a9a9a9;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  width: fit-content;
  font-family: var(--font-family);
  font-weight: 500;
  margin-top: 1rem;
  line-height: 32px;
  color: #a9a9a9;
  outline: none;
  cursor: pointer;
}

.upload-description p {
  font-size: 14px;
  padding-right: 10px;
}
