a {
  text-decoration: none !important;
}
.sidebar {
  min-width: var(--sidebar-width);
  background-image: var(--sidebar-bg);
  background-size: contain;
  height: 95vh;
  position: fixed;
  margin: 1rem 1.2rem;
  left: 0;
  top: 0;
  background-color: var(--button);
  border-radius: 40px;
  border: none;
  outline: none;
  font-family: var(--font-family);
}

.mobile {
  display: none;
}

.sidebar_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.sidebar_logo > img {
  height: 73px;
  width: 118px;
}

.sidebar_item {
  padding: 2px 20px;
}

.sidebar-logout {
  margin-top: 9rem;
  cursor: pointer;
}

.sidebar_item-inner {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 8px 10px;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 16px;
  color: var(--white);
  font-weight: 600;
  outline: none;
}

.sidebar_item-inner > p {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}

.sidebar_item-inner > span {
  margin: 0;
  padding: 0;
  display: flex;
}

.active .sidebar_item-inner {
  color: var(--button);
  border: 1px solid var(--white);
  border-radius: 10px;
  background-color: white;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.5s;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .mobile {
    display: block;
    position: fixed;
    top: 55px;
    font-size: 30px;
    font-family: var(--font-family);
    padding-left: 20px;
    color: var(--button);

    /* min-width: var(--sidebar-width);
    background-image: var(--sidebar-bg);
    background-size: contain;
    height: 95vh;
    position: fixed;
    margin: 1rem 1.2rem;
    left: 0;
    top: 0;
    background-color: var(--button);
    border-radius: 40px;
    border: none;
    outline: none;
    font-family: var(--font-family); */
  }
}
