.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--topnav-height);
  background-color: white;
  border-radius: 20px;
  padding: 0 1rem;
  font-family: var(--font-family);
  position: relative;
}

.topnav_search {
  position: relative;
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid rgba(169, 169, 169, 0.38);
  border-radius: 20px;
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 2rem;
}

.topnav_search > input {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #a9a9a9;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  padding-left: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  padding: 0;
  padding-top: 8px;
  font-size: 1.4rem;
  color: #a9a9a9;
}

.topnav_right {
  display: flex;
  align-items: center;
  width: 20%;
  font-size: 1.4rem;
  justify-content: space-between;
}

.topnav_user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topnav_user_image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.topnav_user_image > img {
  width: 100%;
}

.topnav_user_name h5 {
  font-size: 1.1rem;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
  margin: 0;
}

.topnav-dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  width: 170px;
  left: 82.5%;
  top: 110%;
  border-radius: 10px;
  background-color: var(--background);
  z-index: 2;
}

.topnav-dropdown p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #000000;
  padding: 0.5rem 1rem;
  margin: 0;
  cursor: pointer;
}

.topnav-dropdown p:hover {
  color: var(--button);
  background-color: var(--button);
  color: var(--white);
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
}

.dropdown-button {
  cursor: pointer;
}
