.video {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}
.video_header {
  display: flex;
  padding: 0;
}

.video_header h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  margin-top: 0.5rem;
  color: #016f54;
}

.video_content {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 1rem 0;
  overflow: hidden;
  position: relative;
}
.video_content_top {
  padding: 0 2rem;
}

.video-line {
  display: flex;
  position: absolute;
  top: 90px;
  width: 100%;
  margin-top: 0.5rem;
}

.video-line span {
  height: 1px;
  width: 100%;
  background-color: #e8e9eb;
}

.video_content_top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.video_search {
  height: 45px;
  width: 80%;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: #eff0f1;
  overflow: hidden;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.video_search > input {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: var(--text);
  background-color: #eff0f1;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0;
  padding-left: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1.4rem;
  color: #a9a9a9;
}

.video-table {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.video-header,
.video-content {
  width: 100%;
  position: relative;
  color: #8a9099;
}
.video-content {
  color: var(--text);
}
.video-header tr,
.video-content tr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  align-items: left;
  text-align: center;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.video-content th {
  text-transform: uppercase;
}

.video-header th:first-child,
.video-content th:first-child {
  text-align: left;
}

.video-content tr {
  padding: 1rem 0;
}

.video-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.video-links label {
  cursor: pointer;
  border-bottom: 2px solid grey;
}

.video-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.selections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.selections h5 {
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 19px;
  color: #8a9099;
  margin: 0;
  padding: 0;
}

.sort-selections {
  display: flex;
  align-items: flex-start;
}

.pagination {
  padding-right: 1.5rem;
  margin-bottom: 0;
  align-items: center;
  justify-content: center;
}
