.video-card {
  display: flex;
  flex-direction: column;
}

.video-card-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.video-card-items2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  margin-bottom: 1rem;
  padding-top: 1rem;
}

.video-card_item {
  display: flex;
  width: 100%;
}

.video-card button {
  width: 20%;
}
