.video-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  border-radius: 20px;
  background: #ffffff;
  position: relative;
  height: 300px;
  gap: 1.1rem;
}

.video-item-image {
  display: flex;
  cursor: pointer;
  max-height: 200px;
}

.video-item-image img,
.video-item-image video {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: fit-content;
  max-height: 200px;
  object-fit: cover;
}

.video-item-image video::-webkit-media-controls-timeline,
.video-item-image video::-webkit-media-controls-control-bar {
  display: none;
}

.video-item-body {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: 0;
  gap: 1rem;
}

.video-item-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
  position: relative;
}

.video-item-body p {
  font-family: var(--font-family);
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  opacity: 0.6;
  margin: 0;
  padding: 0;
}

.video-item-icon {
  cursor: pointer;
  position: relative;
}

.video-item-dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  right: 90%;
  top: 20%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #fff;
  z-index: 2;
}

.video-item-dropdown p {
  margin-left: 0.5rem;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #000000;
}

.video-item-dropdown p:hover {
  color: var(--button);
}
