.view-courses {
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
}
.view-courses_header {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.view-courses_header_arrow {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.arrow-icon {
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1.4rem;
  color: #333333;
  cursor: pointer;
}

.view-courses_header_arrow span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 36px;
  color: #333333;
  padding-left: 10px;
}

.view-courses_header h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  color: #016f54;
  text-transform: capitalize;
}

.view-courses_card {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.view-courses_card_topics {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.view-courses_card_topics-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  padding-left: 1rem;
  background-color: #f0fffb;
}

.view-courses_card_topics-title_left {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.view-courses_card_topics-title_left h4 {
  font-family: var(--font-family);
  font-weight: bold;
  font-size: 16px;
  line-height: 14px;
  color: #333333;
  margin: 0;
  padding-left: 1rem;
}

.view-courses_card_topics-title_right {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  width: 15%;
  padding: 0;
  padding-right: 2rem;
  margin: 0;
  font-size: 16px;
}

.addition-button {
  display: flex;
  cursor: pointer;
}

.view-courses_card_topics-topics {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem 0;
  outline: none;
}

.view-courses_card_topics-topics_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.view-courses_card_topics-topics_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-left: 3rem;
  padding-right: 2rem;
  background-color: #ebf1f4;
  outline: none;
}

.view-courses_card_topics-topics_header ol {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
  border-bottom: 2px solid #333333;
}

.view-courses_pagination {
  display: flex;
  padding-right: 1rem;
  margin-bottom: 2rem;
  justify-content: right;
}
