.card2 {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 35vw;
  height: auto;
  margin: 2.6rem 0;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0px 42px 86px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  z-index: 99;
  position: relative;
}

.card2 h4 {
  font-family: var(--font-family);
  font-size: 30px;
  line-height: 39px;
  text-align: center;
  color: #006b17;
  margin: 0;
  margin-bottom: 1rem;
}

.card2 p {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #006b17;
}

@media screen and (max-width: 1024px) {
  .card2 {
    width: 100%;
    height: auto;
    margin: 2.6rem 0;
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid var(--form);
    background-color: var(--white);
    z-index: 99;
    position: relative;
  }
}

@media screen and (max-width: 768px) {
  .card2 {
    width: 70vw;
  }
}
@media screen and (max-width: 425px) {
  .card2 {
    width: 95vw;
    padding: 2rem 0.8rem;
  }
}

@media screen and (max-width: 375px) {
  .card2 {
    width: 100vw;
  }
}
